<header class="w-xs sm:w-sm rounded-full z-50 fixed top-4 left-1/2 transform -translate-x-1/2 border-2 border-[#000] backdrop-blur-xs" id="header">
    <div class="flex items-center justify-center py-[3px]">
      <nav class="block">
        <ul class="flex flex-row text-xl gap-x-3 md:gap-x-8 py-2">
          <li><a href="#about" class="inline-block transition-colors">Sobre Mí</a></li>
          <li><a href="#projects" class="inline-block transition-colors">Proyectos</a></li>
          <li><a href="#blog" class="inline-block transition-colors">Blog</a></li>
          <li><a href="#contact" class="inline-blocktransition-colors">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>