<div class="flex flex-col justify-center items-center mx-auto text-black text-[6vw] sm:text-[4vw] font-normal max-w-[calc(80rem-48px)] w-full h-screen leading-10" id="about">
    <h1 class="flex flex-row items-center">Hola, soy<span class="font-extrabold italic ml-2 md:ml-4">Isaac García</span><img src="/flower.svg" alt="flower SVG" class="w-8 h-8 lg:w-18 lg:h-18 mx-2 md:mx-4 flower-animation"/></h1>
    <h1 class="flex flex-row items-center">Un <img src="/sun.svg" alt="sun SVG" class="w-10 h-10 lg:w-20 lg:h-20 mx-2 md:mx-4"/><span class="font-extrabold italic underline-animation">Administrador de sistemas</span><img src="/sun.svg" alt="sun SVG" class="w-10 h-10 lg:w-20 lg:h-20 ml-2 md:mx-4"/></h1>
    <h1 class="flex flex-row items-center">en<span class="ml-2 md:ml-4 font-extrabold italic">Madrid, Fuenlabrada</span><img src="/smiley.svg" alt="Happy SVG" class="w-9 h-9 lg:w-19 lg:h-19 mx-2 md:mx-4"/></h1>
    <h1 class="flex flex-row items-center">experiencia en <img src="/star.svg" alt="star SVG" class="w-10 h-10 lg:w-20 lg:h-20 mx-2 md:mx-4"/><span class="font-extrabold italic">informática</span><img src="/star.svg" alt="star SVG" class="w-10 h-10 lg:w-20 lg:h-20 mx-2 md:mx-4"/></h1>
    <div class="down-arrow"></div>
</div>


<script>
    window.addEventListener("scroll", function(event) {
        var top = this.scrollY;
        const downArrow = document.querySelector('.down-arrow');
        if(top > 100) {
            if (downArrow) {
                (downArrow as HTMLElement).style.opacity = '0';
            }
        } else {
            if (downArrow) {
                (downArrow as HTMLElement).style.opacity = '1';
            }
        }
    }, false);
</script>
